@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

header.mainheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  background-image: linear-gradient(#ececec, #d4d4d4, #bdbdbd);
  width: 100%;
  box-shadow: 0px -2px 10px 5px grey;
  z-index: 1;
  margin-bottom: 6px; }

.header-row-container {
  display: flex;
  align-items: center; }

.company-header {
  font-size: 3em;
  font-family: 'Oxanium', cursive;
  font-weight: bold; }

.logo {
  margin: 5px; }

#mobile-menu:hover {
  cursor: pointer; }

nav.mainnav {
  display: none;
  position: relative;
  background-color: white;
  min-height: 20px;
  width: 100%;
  align-self: flex-start; }
  nav.mainnav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; }
    nav.mainnav ul li {
      display: inline-block;
      list-style: none;
      margin-left: 6px;
      margin-right: 6px; }
      nav.mainnav ul li a {
        font-size: 1.5em;
        text-decoration: none; }
        nav.mainnav ul li a:link, nav.mainnav ul li a:visited, nav.mainnav ul li a:active {
          color: #1a1a1a; }
        nav.mainnav ul li a.page-indicator {
          color: red; }
      nav.mainnav ul li span.divider {
        display: none;
        font-size: 2em; }

h1, h2, h3 {
  font-family: "Arial", "Garamond", sans-serif; }

p, a {
  font-family: "Arial", "Helvetica", sans-serif; }

.center-text {
  text-align: center; }

main.classmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto; }

div.gallery-slider-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%; }
  div.gallery-slider-container .image-slide {
    display: none; }
    div.gallery-slider-container .image-slide img {
      width: 100%;
      max-height: 200px; }
  div.gallery-slider-container .slide-next-button {
    position: absolute;
    top: 45%;
    width: 50px;
    height: 50px;
    background-color: #ececec;
    border-radius: 15px;
    font-size: 3em;
    text-align: center;
    color: #464646;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    user-select: none; }
    div.gallery-slider-container .slide-next-button:hover {
      background-color: #dadada;
      cursor: pointer; }
  div.gallery-slider-container #slide-leftArrow {
    left: 0; }
  div.gallery-slider-container #slide-rightArrow {
    right: 0%; }
  div.gallery-slider-container .dots-row {
    width: 100%;
    text-align: center; }
    div.gallery-slider-container .dots-row .dot {
      display: inline-block;
      margin-left: 4%;
      margin-right: 4%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #bbbbbb; }
      div.gallery-slider-container .dots-row .dot:hover {
        cursor: pointer; }
    div.gallery-slider-container .dots-row .current-dot {
      background-color: grey; }
  div.gallery-slider-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.gallery-container {
  background-color: #ebebeb;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px; }
  .gallery-container .image-pick {
    display: inline-block;
    margin: 10px;
    object-fit: cover; }
    .gallery-container .image-pick img {
      object-fit: cover;
      width: 100px;
      height: 70px; }
    .gallery-container .image-pick:hover {
      cursor: pointer; }

.product-container {
  display: flex;
  flex-direction: column; }
  .product-container .image-container img {
    width: 100%;
    max-height: 400px; }
    .product-container .image-container img.small {
      max-height: 200px; }
  .product-container .product-description {
    display: flex;
    flex-direction: column; }
    .product-container .product-description h1 {
      margin: 0; }
    .product-container .product-description .small-text {
      font-size: 0.8em;
      line-height: 0.1em;
      margin-bottom: 40px; }
    .product-container .product-description .price-tag {
      font-size: 1.8em;
      font-style: italic;
      margin: 5px; }
    .product-container .product-description button {
      align-self: center;
      margin-top: auto; }
    .product-container .product-description.border {
      border: 1px solid black; }

div.image-text-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%; }
  div.image-text-row img {
    width: 90%;
    box-shadow: 3px 4px 9px 4px #adadad;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 10px; }
  div.image-text-row span {
    font-family: "Arial", "Helvetica", sans-serif;
    display: inline-block;
    padding: 40px 10px;
    max-width: 500px; }

.round-button {
  background-color: #68a5ff;
  color: white;
  border-radius: 5px;
  font-size: 1.6em;
  text-decoration: none;
  border: none;
  padding: 10px 42px;
  margin: 20px 10px; }
  .round-button:hover {
    background-color: #adceff;
    cursor: pointer; }
  .round-button:active {
    background-color: #6e6eff; }

form {
  width: 100%; }

fieldset.formula-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.2rem;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0; }
  fieldset.formula-container div.form-row {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center; }
  fieldset.formula-container input, fieldset.formula-container input[type="text"], fieldset.formula-container input[type="tel"] {
    color: #444444;
    height: 50px;
    border-style: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    margin-left: 5px;
    margin-right: 5px; }
    fieldset.formula-container input::placeholder, fieldset.formula-container input[type="text"]::placeholder, fieldset.formula-container input[type="tel"]::placeholder {
      color: #c2c2c2; }
    fieldset.formula-container input:focus, fieldset.formula-container input[type="text"]:focus, fieldset.formula-container input[type="tel"]:focus {
      outline: none;
      border-bottom: 2px solid #5774f3; }
  fieldset.formula-container input[type="radio"] {
    width: 1.1em;
    height: 1.1em; }
  fieldset.formula-container .small-field {
    max-width: 80px; }
  fieldset.formula-container .medium-field {
    max-width: 160px; }
  fieldset.formula-container label {
    font-family: Arial, Helvetica, sans-serif; }
  fieldset.formula-container * {
    font-size: 1em; }

.confirm-container {
  position: relative;
  margin-top: 300px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: zoomUpElement 2s ease-out; }
  .confirm-container .star-background {
    position: absolute;
    top: -130%;
    width: 700px;
    height: 700px;
    background-image: url(/page-product/img/star.svg);
    background-size: 700px 700px;
    z-index: -1;
    animation: rotatingStar 40s infinite linear;
    transform-origin: center; }

@keyframes rotatingStar {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }
@keyframes zoomUpElement {
  0% {
    transform: scale(0.1); }
  70% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@media only screen and (min-width: 768px) {
  nav.mainnav {
    display: block;
    align-items: flex-start;
    justify-content: center; }
    nav.mainnav ul {
      justify-content: center;
      flex-direction: row;
      align-items: center; }
      nav.mainnav ul li span.divider {
        display: inline-block; }

  main.classmain {
    max-width: 900px; }
    main.classmain.w-700 {
      max-width: 700px; }

  #mobile-menu {
    display: none; }

  div.gallery-promo {
    width: none;
    max-width: 800px; }

  .product-container {
    flex-direction: row; }

  .image-container img {
    max-height: 600px; }

  .product-description {
    min-width: 300px;
    max-width: 400px;
    margin-left: 20px; }

  div.image-text-row {
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px; }
    div.image-text-row img {
      max-width: 300px; }

  div.gallery-slider-container .image-slide img {
    max-height: 500px; }

  fieldset.formula-container {
    padding: 10px 80px; }
    fieldset.formula-container * {
      font-size: 1.1em; } }
footer.classfooter {
  display: flex;
  min-height: 250px;
  background-color: #333333;
  margin-top: auto; }
  footer.classfooter .footer-column {
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    color: white; }
    footer.classfooter .footer-column * {
      text-decoration: none; }
      footer.classfooter .footer-column *:link, footer.classfooter .footer-column *:visited, footer.classfooter .footer-column *:active {
        color: white; }

/* DEN HÄR DELEN AMIN HAR ARBETAT FÖR KONTAKT SIDA */
aside {
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: center;
  margin: 30px; }

.insidediv {
  margin-top: 150px; }

.maindiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px; }

p {
  font-size: 1.2rem; }

.tara {
  padding-top: 70px;
  font-size: 3rem;
  text-decoration: underline; }

.personal1 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image1.png");
  background-size: 250px;
  background-repeat: no-repeat; }

.personal2 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image2.png");
  background-size: 250px;
  background-repeat: no-repeat; }

.personal3 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image3.jpg");
  background-size: 250px;
  background-repeat: no-repeat; }

.personal4 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image4.png");
  background-size: 250px;
  background-repeat: no-repeat; }

.personal5 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image5.png");
  background-size: 250px;
  background-repeat: no-repeat; }

.personal6 {
  height: 250px;
  width: 250px;
  background-image: url("/img/image6.png");
  background-size: 250px;
  background-repeat: no-repeat; }

.uppgift {
  font-size: 1.5rem;
  height: 250px;
  width: 550px;
  background-color: #e3e7e7;
  background-image: url("/img/man.png"); }

/*TILL HIT AMIN HAR ARBETAT FÖR KONTAKT SIDA */
/* DEN HÄR DELEN AMIN HAR ARBETAT FÖR KONTAKT SIDA */
@media screen and (max-width: 700px) {
  .uppgift {
    width: 100%;
    padding: 0 4px; } }

/*# sourceMappingURL=style.css.map */
