@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@200&family=Oxanium:wght@200&family=Play&family=Signika:wght@300&display=swap');

$headertext:'Play',"Arial", "Garamond", sans-serif;
$maintext: "Signika","Helvetica", sans-serif;
$mainTextSize:1.2rem;

body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction: column;
    // display:grid;
    // grid-template-rows: auto 1fr auto;
}

//call this under a. Se example from nav menu style.
@mixin link-decorator($font-color){
    &:link, &:visited, &:active{
        color:$font-color;
    }
}

@mixin horizontal-margin($margin-value){
    margin-left:$margin-value;
    margin-right:$margin-value;
}

@mixin vertical-margin($margin-value){
    margin-top:$margin-value;
    margin-bottom: $margin-value;
}

@mixin flex($dir:row){
    display:flex;
    flex-direction: $dir;
}

header.mainheader{
    @include flex("row");
    justify-content: space-between;
    align-items: center;
    min-height:70px;
    background-image:linear-gradient(rgb(236, 236, 236), rgb(212, 212, 212), rgb(189, 189, 189));
    width:100%;
    box-shadow: 0px -2px 10px 5px grey;
    z-index: 1;
    margin-bottom:6px;
}

.header-row-container{
    @include flex("row");
    align-items: center;
}

.company-header{
    font-size: 2em;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
}

.logo{
    width:60px;
    height:60px;
    margin:5px;
}

.header-pagehead{
    font-size:1.5em;
    color:rgb(51, 51, 51);
    margin-left:30px;
    margin-top: 12px;
}

//a bit pointless if you're in mobile, but a nice touch on desktop
#mobile-menu:hover{
    cursor:pointer;
}

nav.mainnav{
    display:none;
    min-height:20px;
    width:100%;
    min-height:auto;
    align-self: flex-start;
    z-index:1;
    user-select: none;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        font-family: "Alumni Sans", Helvetica, sans-serif;
        font-weight: bold;
        margin:0;
        li{
            display: inline-block;
            list-style: none;
            @include horizontal-margin(6px);
            a{
                font-size: 1.5em;
                text-decoration: none;
                @include link-decorator(rgb(26, 26, 26));
                &.page-indicator{
                    color:red;
                }
            }
            span.divider{
                display:none;
                font-size: 2em;
            }
        }
    }
}

//text content
h1, h2, h3{
    font-family: $headertext;
}

p, a, span{
    font-family: $maintext;
}

a{
    text-decoration: none;
    color:rgb(228, 1, 1);
}

.center-text{
    text-align: center;
}

main.classmain{
    @include flex(column);
    align-items: center;
    width:90%;
    margin-top:20px;
    @include horizontal-margin(auto);
}

//gray container used for the printer gallery
div.gallery-slider-container{
    @include flex(column);
    background-color: rgb(245, 245, 245);
    align-items: center;
    position:relative;
    padding:10px;
    width:100%;
    .image-slide{
        display:none;
        img{
            width:100%;
            max-height:200px;
        }
    }
    .slide-next-button{
        position:absolute;
        top:45%;
        width:50px;
        height:50px;
        background-color: rgb(236, 236, 236);
        border-radius: 15px;
        font-size: 3em;
        text-align: center;
        color:rgb(70, 70, 70);
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.2s;
        user-select: none;
        &:hover{
            background-color: rgb(218, 218, 218);
            cursor: pointer;
        }
    }
    #slide-leftArrow{
        left:0;
    }
    #slide-rightArrow{
        right:0%;
    }
    .dots-row{
        width:100%;
        text-align: center;
        .dot{
            display:inline-block;
            @include horizontal-margin(4%);
            width:10px;
            height:10px;
            border-radius: 50%;
            background-color: rgb(187, 187, 187);
            &:hover{
                cursor:pointer;
            }
        }
        .current-dot{
            background-color: grey;
        }
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
}

//image gallery
.gallery-container{
    background-color: rgb(235, 235, 235);
    align-self: flex-start;
    @include flex();
    flex-wrap: wrap;
    max-width: 500px;
    .image-pick{
        display:inline-block;
        margin:10px;
        object-fit:cover;
        
        img{
            object-fit:cover;
            width:100px;
            height:100px;
        }
        &:hover{
            cursor:pointer;
        }
    }
}

//product
.product-container{
    @include flex(column);
    .image-container{
        img{
            width:100%;
            max-height:400px;
            &.small{
                max-height:200px;
            }
        }
    }
    .product-description{
        @include flex(column);

        h1{
            margin:0;
        }

        .small-text{
            font-size: 0.8em;
            line-height: 0.1em;
            margin-bottom:40px;
        }
        .price-tag{
            font-size: 1.8em;
            font-style: italic;
            margin:5px;
        }
        button{
            align-self: center;
            margin-top:auto;
        }
        &.border{
            border:1px solid black;
        }
    }
}

div.image-text-row{
    @include flex(column);
    justify-content: space-between;
    align-items: center;
    width:100%;

    img{
        width: 90%;
        box-shadow: 3px 4px 9px 4px rgb(173, 173, 173);
        border-radius: 6px;
        @include horizontal-margin(10px);
    }
    span{
        font-family: $maintext;
        font-size: 1.2em;
        display: inline-block;
        padding:40px 10px;
        max-width: 500px;
    }
}

.round-button{
    background-color: #3F68EE;
    color: white;
    border-radius: 5px;
    font-size: 1.6em;
    text-decoration: none;
    border:none;
    padding:10px 42px;
    margin:20px 10px;

    &:hover{
        background-color: #5c9bfa;
        cursor:pointer;
    }
    &:active{
        background-color: rgb(110, 110, 255);
    }
}

//formula

form{
    width:100%;
}
fieldset.formula-container{
    @include flex(column);
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    font-size:$mainTextSize;
    @include vertical-margin(30px);
    padding:0;
    
    div.form-row{
        @include vertical-margin(30px);
        display: flex;
        align-items: center;
    }
    input, input[type="text"], input[type="tel"]{
        color:rgb(68, 68, 68);
        height:50px;
        border-style:none;
        border-bottom:1px solid black;
        box-sizing: border-box;
        @include horizontal-margin(5px);
        &::placeholder{
            color:rgb(194, 194, 194);
        }
        &:focus{
            outline:none;
            border-bottom:2px solid rgb(87, 116, 243);
        }
    }
    input[type="radio"]{
        width:1.1em;
        height:1.1em;
    }
    .small-field{
        max-width:80px;
    }
    .medium-field{
        max-width: 160px;
    }   
    label{
        font-family: Arial, Helvetica, sans-serif;
    }
    *{
        font-size:1em;
    }

    .error-message{
        display:none;
        border:2px solid #E60000;
        width:100%;
        min-height:20px;
        padding:20px;
    }
}

$star-size:700px;
.confirm-container{
    position:relative;
    @include vertical-margin(300px);
    @include flex(column);
    align-items: center;
    animation:zoomUpElement 2s ease-out;
    .star-background{
        position:absolute;
        top:-130%;
        width:$star-size;
        height:$star-size;
        background-image: url(/page-product/img/star.svg);
        background-size: $star-size $star-size;
        z-index:-1;
        animation:rotatingStar 40s infinite linear;
        transform-origin: center;
    }
}

@keyframes rotatingStar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(359deg);
    }
}

@keyframes zoomUpElement{
    0%{
        transform: scale(0.1);
    }
    70%{
        transform:scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

//reviews

article.review-container{
    @include flex(column);
    align-items: center;
    min-height:100px;
    background-color: rgb(236, 236, 236);
    width:100%;
    box-sizing: border-box;
    @include vertical-margin(20px);
    .score-bar{
        position: relative;
        height:40px;
        width:200px;
        .score{
            position:absolute;
            width:200px;
            height:40px;
            background-size: 200px 40px;
            &.empty{
                background-image: url(/page-reference/img/star-empty.svg);
            }
            &.full{
                background-image: url(/page-reference/img/star-full.svg);
            }
        }
    }
    .date-format{
        font-size: 1em;
        margin:1px;
    }
    .review-message{
        font-size: 1.6em;
        color:rgb(36, 36, 36);
        text-align: center;
        &::before, &::after{
            content:'\0022';
            font-size: 1.8em;
        }
    }
    p:last-of-type::before{
        content: "-";
    }
}

@media only screen and (min-width:768px){
    nav.mainnav{
        display:block;
        justify-content: center;
        ul{
            justify-content: center;
            flex-direction: row;
            align-items: center;
            li{
                span.divider{
                    display:inline-block;
                }
            }
        }
    }

    main.classmain{
        max-width: 900px;
        &.w-700{
            max-width:700px;
        }
    }

    #mobile-menu{
        visibility:hidden;
    }

    div.gallery-promo{
        width:none;
        max-width: 800px;
    }

    .product-container{
        flex-direction: row;
    }

    .image-container{
        img{
            max-height: 600px;
        }
    }
    .product-description{
        min-width:300px;
        max-width:400px;
        margin-left:20px;
    }

    div.image-text-row{
        flex-direction: row;
        margin-top:10px;
        margin-bottom:15px;
        img{
            max-width: 300px;
        }
        &.reverse-order{
            flex-direction: row-reverse;
        }
    }

    div.gallery-slider-container{
        .image-slide{
            img{
                max-height:500px;
            }
        }
    }

    fieldset.formula-container{
        padding:10px 80px;
        *{
            font-size:1.1em;
        }
    }

    article.review-container{
        min-width:600px;
        padding:10px 120px;
    }
    .insidediv{
        .maindiv{
            flex-direction: row;
            margin-left:200px;
            margin-left:200px;
            .uppgift{
                width: 550px;
            }
        }
    }

    .company-header{
        font-size: 3em;
    }

}

footer.classfooter{
    display:flex;
    flex-wrap: wrap;
    background-color: rgb(51, 51, 51);
    margin-top:auto;
    .footer-column{
        @include flex(column);
        padding: 30px 60px;
        color:white;
        *{
            @include link-decorator(white);
            text-decoration: none;
        }
    }
}

  /* DEN HÄR DELEN AMIN HAR ARBETAT FÖR OM OSS SIDA */

  aside{
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-align: center;
    margin: 30px;
  }
  .insidediv{
      display: flex;
      flex-direction: column;
        margin-top: 150px;
  }
 
  .maindiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
  }
  p{
    font-size: 1.2rem;
  }
  .tara{
    padding-top: 70px;
    font-size: 3rem;
    text-decoration: underline;
   
  }
  .personal1{
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/image1.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal2{
   
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/image2.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal3{
   
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/image3.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal4{
   
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/image4.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal5{
   
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/image5.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal6{
   
    height: 250px;
    width: 250px;
    background-image: url("/page-about/img/images6.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .uppgift{
    font-size: 1.5rem;
    height: 250px;
    width: 100%;
    background-color: rgb(227, 231, 231);
    background-image: url("/img/man.png");
   
  }
 /*TILL HIT AMIN HAR ARBETAT FÖR KONTAKT SIDA */

  /* DEN HÄR DELEN AMIN HAR ARBETAT FÖR KONTAKT SIDA */

//   @media screen and (max-width: 700px){
//     .uppgift{
//       width: 100%;
//       padding: 0 4px;
//     }
//   }

  .contact-form {
    display: flex;
     flex-direction: column;
     align-items: center;
     
   }
   .adress {
     margin-bottom: 54px;
   }
   .bild {
     width: 308px;
     height: auto;
     margin-top: 10px;
   }

/*terms sidan */
.terms-title {
    margin-bottom: 4px;
  }
  .terms-section p {
    margin: 0px;
  }
  
  .terms-container {
    margin-bottom: 20px;
  }
  
  //showcase

  div.model-showcase {
    display: grid;
    grid-template-rows: 180px 1fr;
  }
  
  img.model-image-source {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  div.model-title-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 3px 6px rgb(14, 30, 38);
    background-color: white;
  }
  
  h4.model-title {
    margin: 0px;
  }
  
  .showcase-body {
    background-color: #f5f7fb;
  }
  
  .three-d-models-contianer {
    grid-template-columns: repeat(auto-fill, minmax(199px, 1fr));
    display: grid;
    grid-gap: 15px;
  }
  
  .download-model-source {
    cursor: pointer;
    border: none;
    padding: 9px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
  }
  .community-showcase-container {
    margin-bottom: 20px;
  }