@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

$headertext:"Arial", "Garamond", sans-serif;
$maintext:"Arial","Helvetica", sans-serif;
$mainTextSize:1.2rem;

body{
    margin:0;
    padding:0;
    width:100%;
    min-height:100vh;
    display:grid;
    grid-template-rows: auto 1fr auto;
}

//call this under a. Se example from nav menu style.
@mixin link-decorator($font-color){
    &:link, &:visited, &:active{
        color:$font-color;
    }
}

@mixin horizontal-margin($margin-value){
    margin-left:$margin-value;
    margin-right:$margin-value;
}

@mixin vertical-margin($margin-value){
    margin-top:$margin-value;
    margin-bottom: $margin-value;
}

header.mainheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height:30px;
    background-image:linear-gradient(rgb(236, 236, 236), rgb(212, 212, 212), rgb(189, 189, 189));
    width:100%;
    box-shadow: 0px -2px 10px 5px grey;
    z-index: 1;
    margin-bottom:6px;
}

.header-row-container{
    display:flex;
    align-items: center;
}

.company-header{
    font-size: 3em;
    font-family: 'Oxanium', cursive;
    font-weight: bold;
}

.logo{
    margin:5px;
}

//a bit pointless if you're in mobile, but a nice touch on desktop
#mobile-menu:hover{
    cursor:pointer;
}

nav.mainnav{
    display:none;
    position:relative;
    background-color: rgb(255, 255, 255);
    min-height:20px;
    width:100%;
    align-self: flex-start;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        font-family: Arial, Helvetica, sans-serif;
        margin:0;
        li{
            display: inline-block;
            list-style: none;
            @include horizontal-margin(6px);
            a{
                font-size: 1.5em;
                text-decoration: none;
                @include link-decorator(rgb(26, 26, 26));
            }
            .page-indicator{
                color:red;
            }
            span.divider{
                display:none;
                font-size: 2em;
            }
        }
    }
}

//text content
h1, h2, h3{
    font-family: $headertext;
}

p, a{
    font-family: $maintext;
}

.center-text{
    text-align: center;
}

main.classmain{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:90%;
    margin-top:20px;
    @include horizontal-margin(auto);

}

//gray container used for the printer gallery
div.gallery-slider-container{
    background-color: rgb(245, 245, 245);
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    padding:10px;
    width:100%;
    .image-slide{
        display:none;
        img{
            width:100%;
            max-height:200px;
        }
    }
    .slide-next-button{
        position:absolute;
        top:45%;
        width:50px;
        height:50px;
        background-color: rgb(236, 236, 236);
        border-radius: 15px;
        font-size: 3em;
        text-align: center;
        color:rgb(70, 70, 70);
        line-height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.2s;
        user-select: none;
        &:hover{
            background-color: rgb(218, 218, 218);
            cursor: pointer;
        }
    }
    #slide-leftArrow{
        left:0;
    }
    #slide-rightArrow{
        right:0%;
    }
    .dots-row{
        width:100%;
        text-align: center;
        .dot{
            display:inline-block;
            @include horizontal-margin(4%);
            width:10px;
            height:10px;
            border-radius: 50%;
            background-color: rgb(187, 187, 187);
            &:hover{
                cursor:pointer;
            }
        }
        .current-dot{
            background-color: grey;
        }
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1s;
        animation-name: fade;
        animation-duration: 1s;
      }
      
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
}

//image gallery
.gallery-container{
    background-color: rgb(235, 235, 235);
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    .image-pick{
        display:inline-block;
        margin:10px;
        object-fit:cover;
        
        img{
            object-fit:cover;
            width:100px;
            height:70px;
        }
        &:hover{
            cursor:pointer;
        }
    }
}

//product
.product-container{
    display: flex;
    flex-direction: column;
    .image-container{
        img{
            width:100%;
            max-height:400px;
        }
    }
    .product-description{
        display:flex;
        flex-direction: column;

        h1{
            margin:0;
        }

        .small-text{
            font-size: 0.8em;
            line-height: 0.1em;
            margin-bottom:40px;
        }
        .price-tag{
            font-size: 1.8em;
            font-style: italic;
            margin:5px;
        }
        button{
            align-self: center;
            margin-top:auto;
        }

    }
}

div.image-text-row{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width:100%;

    img{
        width: 90%;
        box-shadow: 3px 4px 9px 4px rgb(173, 173, 173);
        border-radius: 6px;
        @include horizontal-margin(10px);
    }
    span{
        font-family: $maintext;
        display: inline-block;
        padding:40px 10px;
        max-width: 500px;
    }
}

button.round-button{
    background-color: #68a5ff;
    color: white;
    border-radius: 5px;
    font-size: 1.6em;
    text-decoration: none;
    border:none;
    padding:10px 42px;
    margin:20px 10px;
    max-width:200px;

    &:hover{
        background-color: #adceff;
        cursor:pointer;
    }
    &:active{
        background-color: rgb(110, 110, 255);
    }
}

//formula
.order-box{
    border: 1px solid black;
    max-width: 400px;
    max-height:300px;
}

fieldset.formula-container{
    border-radius: 10px;
    border: 1px solid black;
    max-width:800px;
    width:100%;
    padding-left:30px;
    padding-right:30px;
    font-size:$mainTextSize;
    .col-25{
        width:25%;
        *{
            float:right;
        }
    }
    .col-75{
        width:75%;
        *{
            float:left;
        }
    }
    div.form-row{
        @include vertical-margin(30px);
        display: flex;

    }
    .small-field{
        max-width:50px;
    }    
}

@media only screen and (min-width:768px){
    nav.mainnav{
        display:block;
        align-items: flex-start;
        justify-content: center;
        ul{
            justify-content: center;
            flex-direction: row;
            align-items: center;
            li{
                span.divider{
                    display:inline-block;
                }
            }
        }
    }

    main.classmain{
        max-width: 900px;
    }

    #mobile-menu{
        display:none;
    }

    div.gallery-promo{
        width:none;
        max-width: 800px;
    }

    .product-container{
        flex-direction: row;
    }

    .image-container{
        img{
            max-height: 600px;
        }
    }
    .product-description{
        max-width:400px;
        margin-left:20px;
    }

    div.image-text-row{
        flex-direction: row;
        margin-top:10px;
        margin-bottom:15px;
        img{
            max-width: 300px;
        }

    }

    div.gallery-slider-container{
        .image-slide{
            img{
                max-height:500px;
            }
        }
    }

}

footer.classfooter{
    display:flex;
    min-height: 250px;
    background-color: rgb(51, 51, 51);
    margin-top:40px;
    .footer-column{
        display: flex;
        flex-direction: column;
        padding: 30px 60px;
        color:white;
        *{
            @include link-decorator(white);
            text-decoration: none;
        }
    }
}

  /* DEN HÄR DELEN AMIN HAR ARBETAT FÖR KONTAKT SIDA */

  aside{
    box-sizing: border-box;
    overflow-wrap: break-word;
    text-align: center;
    margin: 30px;
  }
  .insidediv{
    margin-top: 150px;
  }
 
  .maindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
  }
  p{
    font-size: 1.2rem;
  }
  .tara{
    padding-top: 70px;
    font-size: 3rem;
    text-decoration: underline;
   
  }
  .personal1{
    height: 250px;
    width: 250px;
    background-image: url("/img/image1.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal2{
   
    height: 250px;
    width: 250px;
    background-image: url("/img/image2.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal3{
   
    height: 250px;
    width: 250px;
    background-image: url("/img/image3.jpg");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal4{
   
    height: 250px;
    width: 250px;
    background-image: url("/img/image4.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal5{
   
    height: 250px;
    width: 250px;
    background-image: url("/img/image5.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .personal6{
   
    height: 250px;
    width: 250px;
    background-image: url("/img/image6.png");
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .uppgift{
    font-size: 1.5rem;
    height: 250px;
    width: 550px;
    background-color: rgb(227, 231, 231);
    background-image: url("/img/man.png");
   
  }
 /*TILL HIT AMIN HAR ARBETAT FÖR KONTAKT SIDA */

  /* DEN HÄR DELEN AMIN HAR ARBETAT FÖR KONTAKT SIDA */

  @media screen and (max-width: 700px){
    .uppgift{
      width: 100%;
      padding: 0 4px;
    }
  }